
#profile-img {
    height:180px;
    box-shadow: 10px 10px 15px #454e62;
}
.h-80 {
    height: 80% !important;
}
.btn-enter{
    background: #454e62;
    color: #ffffff;
    text-transform: capitalize
}