<div class="container h-80">
    <div class="row align-items-center h-100">
        <div class="col-3 mx-auto">
            <div class="text-center">
                <img id="profile-img" class="rounded-circle profile-img-card" src="assets/images/logo/logo.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <input type="text" name="username" id="inputPassword" class="form-control form-group"
                        placeholder="Username" required autofocus>
                    <button class="btn btn-lg btn-enter btn-block btn-signin" type="button" (click)="enterClickHandler()">enter</button>
                </form><!-- /form -->
            </div>
        </div>
    </div>
</div>

