.login-card{
    min-width: 320px;
    width: 320px;
    .login-header{
        text-align: center;
    }
}
#profile-img {
    background-color: #fff;
    height:180px;
    box-shadow: 10px 10px 15px #454e62;
}